<title>Ajax Query Interface</title>
	<head>
	<script type="text/javascript">
		function ajax(element){
			document.getElementById('testp').innerHTML = element.toString();
			request = new XMLHttpRequest();
			document.getElementById('testp').innerHTML = 'request created';
			request.onreadystatechange = function(){
				if (this.readyState == 4 && this.status == 200){
					element.innerHTML = this.responseText;
				}
			}
			request.open("GET", "ajaxtarget", true);
			request.send();
		}
	</script>
	</head>
	<body onload="ajax(document.getElementById('resultdisplay'))">
	<div id="resultdisplay"></div>
	<p id="testp">unaltered paragraph</p>
	</body>