<!DOCTYPE html>

<body>
	{% extends "base.html" %}
    {% block content %}
    
    <h3>Interactive Browser</h3>
<!--     <h3>Project Description</h3>
    <p>This website is a demonstration of the NSF Convergence Accelerator projects. The goals of NSF Convergence Accelerator are to support and accelerate use-inspired, team based, multidisciplinary efforts that address challenges of national importance and will produce deliverables of value to society in the near future.</p>

    <h3>Cross Project Demonstrator</h3>
    <p>The Cross Project Demonstratior aims to make an inventory that tells users the scope and expertise, like what concepts and topics are represented in these Knowledge Graphs.</p>

    <p> The Knowledge Graphs covered in the project:</p>
    <ul>
    	<li> <a href="https://know-where-graph.dev.matrix.msu.edu/">KnowWhere Graph</a>
    	<li> <a href="https://spoke.rbvi.ucsf.edu/docs/index.html">SPOKE Graph</a>
        <li> <a>SCALES Graph</a>
        <li> <a>UFOKN Graph</a>
    </ul> -->

    {% endblock %}	
</body>
</html>